
body {
    font-family: secondaroundw00-boldregular;
    font-weight: normal;
    font-style: normal;
    height: 100%;
    background: linear-gradient(90deg, #cdcdcd 30%, white 70%);
}
.top-bar{
    margin: auto;
    color: black;
    background-color: white;
    width: 400px;
    height: 100px;
    text-align: center;
    font-size: 100%;
    border: 2px solid black;
    padding: 30px;
    padding-top: 20px;
}

.sidebar{
    position: absolute;
    height: auto;
    width:30%;
    background-color: #cdcdcd;
    padding-top: 00px;
}
.sidebar-heading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 0%;
    border-bottom: 1px solid black;
    font-weight: bold;
}
.contact-info-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 100px;
}
.contact-info{
  background-color: #cdcdcd;
  color: black;
  padding: 7px;
  position: fixed;
  width: 27%;
 
}
.mainbar{
    float: right;
    width: 69%;
    background-color: white;
    padding: 2px;
}
.about-me{
    background-color: white;
    padding:7px;
    color: black;
}
.cookies{
    width: 49.5%;
    height: 350px;
    float: right;
    padding: 1px;
}
.subheading{
    font-family: 'secondaroundw00-boldregular'
    font-weight: 500;
}
.projects p {
   color: black;
}

